@page "/movies"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter
@using BlazorWebAppMovies.Models
@using BlazorWebAppMovies.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebAppMovies.Data.BlazorWebAppMoviesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<input type="search" @bind="titleFilter" @bind:event="oninput" @bind:after="RefreshGridAsync" />

<p>
    <a href="movies/create">Create New</a>
</p>

<div>
    <QuickGrid Class="table" ItemsProvider="moviesProvider" Pagination="pagination">
        <PropertyColumn Property="movie => movie.Title" Sortable="true" />
        <PropertyColumn Property="movie => movie.ReleaseDate" Title="Release Date" Sortable="true" />
        <PropertyColumn Property="movie => movie.Genre" Sortable="true" />
        <PropertyColumn Property="movie => movie.Price" Sortable="true" />
        <PropertyColumn Property="movie => movie.Rating" Sortable="true" />

        <TemplateColumn Context="movie">
            <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"movies/details?id={movie.Id}")">Details</a> |
            <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="pagination" />
</div>

@code {
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    private string titleFilter = string.Empty;

    private GridItemsProvider<Movie>? moviesProvider;

    protected override void OnInitialized()
    {
        moviesProvider = async request =>
        {
            using var context = DbFactory.CreateDbContext();

            var query = context.Movie.AsNoTracking();

            if (!string.IsNullOrWhiteSpace(titleFilter))
            {
                query = query.Where(movie => movie.Title!.Contains(titleFilter));
            }

            var totalItemCount = await query.CountAsync(request.CancellationToken);

            var items = await request.ApplySorting(query)
                                     .Skip(request.StartIndex)
                                     .Take(request.Count ?? pagination.ItemsPerPage)
                                     .ToListAsync(request.CancellationToken);

            return GridItemsProviderResult.From(items, totalItemCount);
        };
    }

    private async Task RefreshGridAsync()
    {
        await pagination.SetCurrentPageIndexAsync(0);
    }

    public async ValueTask DisposeAsync()
    { }
}
